{% extends 'album/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'album/photos.css' %}">{% endblock  %}

{% block content %}

<div id="repos">
{% if not images %}
<p>No images available</p>
{% else %}
{% for image in images %}
<div class="user-repo">
    <img class="image" src="{{ image.image.url}}" alt="blog-pic">
     <div id="other">
           <p class="l">Location: {{image.location}}</p>
           <p class="d">Category: {{image.category}}</p>
           </div>
     <div class="bottom">
        <p class="h">{{image.name}}</p>
          <a id="read-more" href="get-image/{{image.id}}">more details</a>
        </div>
        </div>`
{%endfor %}
    {% endif %}
</div>

</body>
</html>

{% endblock %}