{% extends 'album/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'album/photo.css' %}">{% endblock  %}

{% block content %}

<div class="user-repo">
     <p class="heading">{{image.name}}</p>
     <img class="image" src="{{ image.image.url}}" alt="post-pic">
           <p>{{image.description}}</p>
           <div id="other">
           </div>
          <span class="posted">Location: {{image.location}}</span>
          <span class="posted">Category: {{image.category}}</span>
          <button>Copy Image Link</button><br>
          <a href="/update-image/{{image.id}}" class="btn btn-primary">Update</a>
          <a href="/delete-image/{{image.id}}" class="btn btn-danger">Delete</a>
        </div>`

</body>
</html>

{% endblock %}