{% extends 'album/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'album/photos.css' %}">{% endblock  %}

{% block content %}

<div class="dropdown show">
  Filter By Category <a class="btn btn-secondary dropdown-toggle" href="/" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   All
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="">All</a>
      {% for category in categories %}
    <a class="dropdown-item" href="/{{category.name}}">{{category.name}}</a>
      {% endfor %}
  </div>
</div>

<div id="repos">
{% if not images %}
<p>No images available</p>
{% else %}
{% for image in images %}
<div class="user-repo">
    <img class="image" src="{{ image.image.url}}" alt="blog-pic">
     <div id="other">
           <p class="l">Location: {{image.location}}</p>
           <p class="d">Category: {{image.category}}</p>
           </div>
     <div class="bottom">
        <p class="h">{{image.name}}</p>
          <a id="read-more" href="get-image/{{image.id}}">more details</a>
        </div>
        </div>`
{%endfor %}
    {% endif %}
</div>

</body>
</html>

{% endblock %}