{% extends 'album/base.html' %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'album/photo.css' %}">{% endblock  %}
{% block title %}<title>{{image.name}}</title>{% endblock %}
{% block content %}

<div class="user-repo">
     <p class="heading">{{image.name}}</p>
     <img class="image" id="img" src="{{ image.image.url}}" alt="post-pic">
           <p>{{image.description}}</p>
           <div id="other">
           </div>
          <span class="posted">Location: {{image.location}}</span>
          <span class="posted">Category: {{image.category}}</span>
          <button class="btn btn-secondary">Copy Image Link</button><br>
        </div>`

<script src="{% static 'album/main.js' %}">

</script>
</body>
</html>

{% endblock %}